
/*Body reset*/
html,
body{
  background-color:#F5F6F5;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  min-width: 100%;
  font-size: 14px;
}


html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -webkit-appearance:none;
}

body {
  font-size: 100%;
  font-weight: 300;
}

/*Reset fonts for relevant elements*/
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input:focus, textarea:focus {
    outline: none;
}

input,
button,
textarea{
  background-color:transparent;
  border:0 none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/*prevent chrome autocomplete yellow filling background*/
input:-webkit-autofill{
  background-color:transparent !important;
  color: inherit;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:focus, .form-control:focus {
    box-shadow: none;
    outline:none;
}
.form-control:focus {
border:solid 1px #ccc;
}

textarea {
    resize: none;
}
/*Links*/

a {text-decoration: none;cursor:pointer;}
a:hover,
a:focus {text-decoration: none;}

figure {
  margin: 0;
}


/*Images*/
img {
  vertical-align: middle;
  width: 100%;
}

/*Horizontal rules*/

hr {
  border: 0;
}
b, strong{
  font-weight: 600;
}

// .main-wrapper{
//   padding-top:120px;
// }

