.cast{
    margin-bottom:40px;
    &__img{
        max-height:175px;
        max-width:140px;
    }
    &__info{
        background-color:#FFF;
        padding:10px 6px;
        span{
            display:block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 12px;
        }
    }
}

.data-pill{
    span{
        background-color:#5AE7C9;
        color:#000;
        display:inline-block;
        padding:5px 10px;
        margin-right:5px;
        margin-bottom:5px;
        border-radius:15px;
    }
}

.detail{
    
    &__banner{
        color:#FFF;
        padding:30px 0;
        background:#9BA0A6; 
        background: -webkit-linear-gradient(#9BA0A6, #5F6971); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#9BA0A6, #5F6971); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#9BA0A6, #5F6971); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#9BA0A6, #5F6971); /* Standard syntax */
    }
    &__title{
        margin-bottom:25px;
    }
    &__score{
        .circle{
            background-color: #5D6870;
            border-radius:50%;
            display:inline-block;
            font-size: 20px;
            padding: 15px 10px;
            font-weight: bold;
            margin:0 20px 20px 0;
        }
    }
}

.subtitle{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.trailer{
    text-align: center;
    iframe{
        @media(max-width:600px){
            width:100%
        }
    }
}