.section-title{
    font-size: 25px;
}

.movie{
    .panel{overflow:hidden;}
    footer{
        border-top:solid 1px #ececec;
        bottom:0;
        position:absolute;
        width:100%;
        margin-left:-20px;
        padding:10px;
    }
    &__poster{
        float:left;
        width:185px;
        height:270px;
    }
    &__info{
        position:relative;
        padding:20px;
        overflow: hidden;
        height:270px;
        font-size:12px;
    }
    &__title{
        font-size: 14px;
    }
    &__genres{
        span{
            margin-right:3px;
        }
    }
    
}

