.search{
    background-color:#FFF;
    padding:10px 0;
    position:relative;
    &__input{
        i{font-size:16px;}
        input{
            padding:5px;
            font-size: 14px;
            color:#777;
            width:80%;
        }
    }
    &__results{
        position:absolute;
        z-index: 10;
        top:40px;
        height:220px;
        overflow:auto;
        width:100%;
        box-shadow: 0 16px 30px 0 rgba(0,0,0,0.2);
    }
}

.result{
    background-color: #FFF;
    border-bottom:solid 1px #efefef;
    &:hover{background-color:#fafafa}
    &__img{
        float:left; 
        width:50px;
        margin-right:15px;
    }
    &__info{
        overflow: hidden;
        margin-top:15px;
        p{margin-bottom:5px;}
    }   
}